/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.tab-pane .tab-header-area .tab-header-background {
    -fx-effect: null;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}